*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F9F9F9;
}

.first-section{
    display: flex;
    flex-direction: column;
    gap: 23px;

    background: url(./photos/img\ 1.1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 218px;
    padding-bottom: 148px;
    border-radius: 20px;
    max-width: 1272px;
    width: 100%;
}


.first-section h4{
    font-size: 14px;
    font-weight: 700;
    color: white;
  
}

.first-section h1{
    font-size: 46px;
    font-weight: 400;
    color: white;
  
}

.first-section span {
    background: linear-gradient(90deg, #4CE0D7 43.06%, #8BA9F4 100%);
    -webkit-background-clip: text; /* For Safari */
    background-clip: text;
    color: transparent;
    font-weight: 700;
}

.first-section p{
    font-size: 20px;
    font-weight: 400;
    color: white;
    max-width: 494px;
}
/* Topics section  */

.second-headingLA{
  margin-bottom: 48px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #262626;
}

.Topics-cardLA{
  width: 204px;
  height: 291px;
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  position: relative;
}

.Topics-cardLA-Content{
  background-color: transparent;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 19px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.ButtonLA{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #262626;
  text-decoration: none;
  background: #4CE0D7;
  border-radius: 40px;
  padding: 10px;
}

.ButtonLA:hover,
.contuctUSLA:hover{
  background: #8BA9F4;
  color: #FFFFFF;
}

.Topics-H-LA{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #262626;
}

.Topics-galleryLA{
  display: flex;
  flex-direction: wrap;
  gap: 10px;
  
}
.Topics-cardLA img{
  width: 89px;
  height: 89px;
  object-fit: cover;
}

.TopicsLA{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 84px;
  margin-bottom: 87.5px;
}
/* footer  */

footer {
    background: #ffffff;
    box-shadow: 6px 0px 6px 0px #0000000d;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
  }
  
  .footer {
    display: flex;
    flex-direction: column;
  }
  
  .footer-first {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 87px;
  }
  
  .footer-nav {
    display: flex;
    align-items: center;
    gap: 19px;
  }
  
  .footer-nav h1 {
    margin-right: 5px;
  }
  
  .footer hr {
    margin-top: 77px;
    margin-bottom: 34px;
  }
  
  .footer-second {
    margin-bottom: 37px;
  }

  .fashion {
    position: absolute;
    width: 1204px;
    height: 360.3px;
    top: 1280px;
    left: 150px;
    gap: 0px;
}

.fashionbutton {
    position: absolute;
    width: 233.95px;
    height: 36.49px;
    top: 1304.82px;
    left: 197.27px;
}

.fashiontext {
    position: absolute;
    width: 71px;
    height: 18px;
    top: 1302px;
    left: 279px;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
}

.whitebg {
    position: absolute;
    width: 1220px;
    height: 698px;
    top: 1280px;
    left: 143px;
    gap: 0px;
    border-radius: 20px 0px 0px 0px;
    opacity: 0px;
}

.face {
    position: absolute;
    width: 65.67px;
    height: 50.77px;
    top: 1663.65px;
    left: 214.34px;
    gap: 0px;
    opacity: 0px;
}

.name {
    position: absolute;
    width: 168px;
    height: 21px;
    top: 1660px;
    left: 301px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #BCBCBC;
}

.text {
    position: absolute;
    width: 216px;
    height: 23px;
    top: 1660px;
    left: 1074px;
    gap: 0px;
    opacity: 0px;
    color: #F25E5E;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.24em;
    text-align: left;
}

.latetrends {
    position: absolute;
    width: 1044px;
    height: 36px;
    top: 1744px;
    left: 214px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 26px;
    font-weight: 700;
    line-height: 39px;
    text-align: left;
    color: #262626;
}

.maintext {
    position: absolute;
    width: 1033px;
    height: 73px;
    top: 1803px;
    left: 214px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #262626;
    max-width: 700px;
    max-height: 50px;
}

.readmore {
    position: absolute;
    width: 215px;
    height: 24px;
    top: 1916px;
    left: 263px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.24em;
    text-align: left;
    color: #4CE0D7;
}

.arrow-small-right {
    position: absolute;
    width: 51px;
    height: 40px;
    top: 1900px;
    left: 201px;
    padding: 13.33px 14.88px 13.33px 14.88px;
    gap: 0px;
    opacity: 0px;
}

.date {
    position: absolute;
    width: 167px;
    height: 21px;
    top: 1660px;
    left: 518px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #BCBCBC;
}